body {
  margin: 20px;
  padding: 0;
  font-family: sans-serif;
}
ul{
  list-style-type: none;
}
.Result {
  margin-top: 10px;
  
}
.Result .Grid{
  margin-top: 20px;
  margin-bottom: 10px;
  
}
/* .Result ul{

} */
.Result li {
  margin-top: 10px;
}

/* .Result .Records li{
  -webkit-column-count: 4;
  -moz-column-count: 4;
  column-count: 4 
} */
.Result .Records li div span{
  text-align: center;
  margin-right: 50px;
}
.Result .Records li div.item span{
  text-align: center;
  margin-right: 100px;
}
.Search{
  padding: 10px;
 
}
.Search label{
  font-size: 12px;
}
.Search .SearchType{
  margin-bottom: 20px;
}
.Search .SearchTypeDropdown{
  margin-top: 5px;
}